html, body {
  overflow-x: hidden;
}

#slide {
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: black;
    background-color: white;
}

.slideDark {
  background-color: black;
  color: white;
}


.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.hidden {
  display: none;
}

.paraSlideContent {
  width: 80vw;
  text-align: left;
  position: absolute;
  z-index: 101;
  padding: 3vh 6vw;
}

.vertMiddle .paraSlideContent {
  top: 50vh;
}

.vertMiddle .paraSlideContent {
  transform: translateY(-50%);
}

.vertBottom .paraSlideContent {
  transform: translateY(-100%);
}

.horizCenter .paraSlideContent {
  transform: translateX(-50%);
  left: 50vw;
  text-align: center;
}

.horizRight .paraSlideContent {
  transform: translateX(-100%);
  text-align: right;
  left: 100vw;
}

.horizLeft .paraSlideContent {
  text-align: left;
}

.horizCenter .vertMiddle .paraSlideContent {
  transform: translate(-50%, -50%);
}

.horizCenter .vertBottom .paraSlideContent {
  transform: translate(-50%, -100%);
}

.horizRight .vertMiddle .paraSlideContent {
  transform: translate(-100%, -50%);
}

.horizRight .vertBottom .paraSlideContent {
  transform: translate(-100%, -100%);
}

.vertBottom .paraSlideContent {
  top: 100vh;
}

.paraSlideLogo {
  font-size: 2rem;
  font-weight: 300;
  margin:0;
  letter-spacing: -0.03em;
  line-height: 1;
}

.paraSlideHead {
  font-size: 2rem;
  font-weight: 500;
  margin:0;
  line-height: 1;
}

.paraSlideCopy {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 300;
}

.bgPartial .react-parallax-background img {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 100vh;
  left: -50vw;
  transform: none;
}

.slideLight .bgFull .paraFilter {
  background-color: rgba(255,255,255,0.3);
}

.slideDark .bgFull .paraFilter {
  background-color: rgba(0,0,0,0.3);
}

.bgFull .paraFilter {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
}

#nav-top {
    position: fixed;
    width: 100vw;
    height: 3em;
    background-color: white;
    z-index: 110;
    border-bottom: 1px solid #c0c0c0;
    top: -3em;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#nav-title, #nav-cta {
    display: inline-block;
    letter-spacing: -0.06em;
    position: absolute;
    line-height: 1;
}

#nav-title {
    margin-top: 1em;
    left: 3vw;
    font-weight: 600;
    font-size: 1rem;
}

#nav-cta {
    right: 3vw;
    font-size: 0.9rem;
    margin-top: 1.2em;
}

#nav-cta a {
    color: white;
    background-color: #1bb4e9;
    text-decoration: none;
    border-radius: 1em;
    padding: 0.1em 0.75em 0.2em 0.75em;
}


/* START Micro Mobile */
@media (max-width: 320px){
  .paraSlideLogo {
    font-size: 1.5rem;
  }

  .paraSlideHead {
    font-size: 2rem;
  }

  .paraSlideCopy {
    font-size: 1rem;
  }
}
/* END Micro Mobile */

/* START Mobile Landscape */
@media (max-height: 420px){
  .slide, .react-parallax, .bgFull .paraFilter {
    min-height: 600px;
  }

  .bgPartial .react-parallax-background img {
    transform: none;
  }
}

/* END Mobile Landscape */

/* START Tablet */
@media (min-width: 768px) and (min-height: 421px){

  .bgPartial .react-parallax-background img {
    transform: translateY(-50%);
  }

  .paraSlideLogo {
    font-size: 3rem;
  }

  .paraSlideHead {
    font-size: 5rem;
  }

  .paraSlideCopy {
    font-size: 1.5rem;
  }

  .captionOn .paraSlideContent {
    width: 40vw;
  }

  .captionOn .paraSlideHead {
    font-size: 4rem;
  }

  .captionOn .paraSlideCopy {
    font-size: 1.25rem;
  }

}
/* END Tablet */

/* START Laptop */
@media (min-width: 1000px){
  .bgPartial .react-parallax-background img {
    transform: translateY(-35%);
  }

  .paraSlideContent {
    width: 50vw;
  }

  .paraSlideLogo {
    font-size: 4rem;
  }

  .paraSlideCopy {
    font-size: 1.75rem;
  }

  .captionOn .paraSlideContent {
    width: 30vw;
  }

}
/* END Laptop */